.image {
    width: 180px;
    height: 180px;
}

.choiceImage {
    display: none;
    width: 180px;
    height: 180px;
}

.choiceImage.show {
    display: flex;
    width: 180px;
    height: 180px;
}

.result {
    text-align: center;
    font-size: x-large;
}

.game {
    height: 60vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.game.dontshow {
    display: none;
    height: 60vh;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.gameResult {
    display: none;
    position: fixed;
    height: 60vh;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.gameResult.show {
    display: flex;
    position: fixed;
    height: 60vh;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
}
